
@{
    ViewBag.Title = "AnaSayfa";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

<script src="~/Content/tabulator/jquery_wrapper.js"></script>
<script src="~/Content/tabulator/tabulator.js"></script>
<link href="~/Content/tabulator/tabulator.min.css" rel="stylesheet" />
<script src="~/Content/tabulator/tabulator.min.js"></script>
<link href="~/Content/tabulator/tabulator_semanticui.min.css" rel="stylesheet" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
<script src="~/Content/js/Urunler.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/yadcf/0.9.1/jquery.dataTables.yadcf.js"></script>


<div class="container">
    <div class="modal" id="UrunGoruntulemeModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document" style="font-family: serif;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ürün Görseli:</h5>

                </div>
                <div class="modal-body">
                    <img id="modal_img" src="https://kmwheels.net/files/b2bresim/DY6055_5_BD-5.JPG" width="100%" />
                    <h3 id="footer_modal" style="font-family: Avanta Garde">GM</h3>

                </div>
                <div class="modal-footer">
                    <button id="modalkapatbtn" type="button" class="btn btn-warning" data-dismiss="modal">Kapat</button>
                </div>
            </div>
        </div>
    </div>
    <h4 style="position:absolute;"> @ViewBag.MagazaAdi</h4>
    <h2>Tüm Ürünler</h2>
    <div id="tblUrunler"></div>
</div>