
@{
    //ViewBag.Title = "Sistem";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title GMTEGRATOR</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>






</head>
<body>

    <!--<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="#"><img src="https://lh5.googleusercontent.com/--u5E38H_oWE/AAAAAAAAAAI/AAAAAAAAAAA/alQD2SRWjT0/s55-p-k-no-ns-nd/photo.jpg" /></a>

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">-->
                    @*@Html.ActionLink("Sistem Ayarları", "Index", "SystemSettings", new { @class = "btn btn-primary" })*@
                <!--</ul>
            </div>
        </div>
    </div>-->
    <style>
        a:hover {
            color: black;
        }
    </style>

    <div class="container-fluid body-content">
        @*@Html.ActionLink("Sistem Ayarları", "Index", "SystemSettings", new { @class = "btn btn-primary" })*@
        <br />
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="border-radius:10px;">
            
                <a href="/Home/Index" class="btn btn-primary">Ana Sayfa</a>
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    @*<li class="nav-item active">
                        <a href="/SystemSettings/SystemConnection" class="btn btn-primary">DataBase Ayarları</a>
                    </li>*@
                    @*<li class="nav-item">
                        <a class="nav-link" href="#">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Pricing</a>
                    </li>*@
                    <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                 Ayarlar
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="/SystemSettings/Index"> Ürün Kaynak Ayarları</a>
                                <a class="dropdown-item" href="/SystemSettings/SystemConnection">DataBase Ayarları</a>
                            </div>
                        </li>
                </ul>
            </div>
        </nav>

        <div class="row">
            <div class="col-lg-2" style="color:white;font-family:'Serif'">
                @*<div class="text-center" style="background: radial-gradient(#9c9c9c,#9c9c9c,gray); border-radius: 20px; box-shadow: 0 5px 13px rgb(0 0 0 / 0.3); width: 100%; height: 500px ">
                        <br />  <a href="#" class="btn btn-outline-secondary" style="background-color:white"><span>Tüm Ürünler</span></a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink2">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div> <br /><br /><br /><br />Satış Kanalları<hr />  <a class="btn btn-outline-danger dropdown-toggle" href="#" role="button" id="dropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color:white"><span>N11</span></a>
                        <br /><br /> <a href="#" class="btn btn-outline-warning" style="background-color:white"><span>Hepsiburada</span></a>
                        <br /><br /> <a href="#" class="btn btn-outline-success" style="background-color:white"><span>Çiçeksepeti</span></a>
                        <br /><br /> <a href="#" class="btn btn-outline-secondary" style="background-color:white;"><span>Pazarama</span></a>
                        <div class="dropdown">
                            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Dropdown link
                            </a>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>

                    </div>*@
            </div>


            <div class="col-lg-9">
                @RenderBody()
            </div>
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - GMTEGRATOR</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>

